# This file is maintained by Tedium - manual edits will be overwritten!

version: "2.1"
jobs:
  cachekey:
    docker:
      - image: cimg/base:2026.02@sha256:f333644c849b6f418f3ed937201c0d182448d7b2805d6494b04dc55b2c588f0e
    steps:
      - attach_workspace:
          at: .
      - run:
          command: ./task cachekey
      - persist_to_workspace:
          root: .
          paths:
            - ./.task-meta-cachekey*
  checkout:
    docker:
      - image: cimg/base:2026.02@sha256:f333644c849b6f418f3ed937201c0d182448d7b2805d6494b04dc55b2c588f0e
    steps:
      - checkout:
          path: .
      - persist_to_workspace:
          root: .
          paths:
            - .
  ci-all:
    docker:
      - image: cimg/base:2026.02@sha256:f333644c849b6f418f3ed937201c0d182448d7b2805d6494b04dc55b2c588f0e
    steps:
      - run:
          command: echo "Done"
  deps-js:
    docker:
      - image: docker.io/node:24.14.0-slim@sha256:e8e2e91b1378f83c5b2dd15f0247f34110e2fe895f6ca7719dbb780f929368eb
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - deps-js-v7-{{ checksum ".task-meta-cachekey-js" }}
            - deps-js-v7-
      - run:
          command: |-
            npm install -g --force yarn pnpm
            ./task deps-js
      - save_cache:
          key: deps-js-v7-{{ checksum ".task-meta-cachekey-js" }}
          paths:
            - /usr/local/lib/node_modules
            - node_modules
  fetch-task:
    docker:
      - image: ghcr.io/markormesher/task-fetcher:v0.6.2@sha256:f3a51299e2abfb8f439c2264a1f477048c4d95066afebb9b7e906ea38b3c237a
    steps:
      - attach_workspace:
          at: .
      - run:
          command: cp /task .
      - persist_to_workspace:
          root: .
          paths:
            - ./task
  lint-js:
    docker:
      - image: docker.io/node:24.14.0-slim@sha256:e8e2e91b1378f83c5b2dd15f0247f34110e2fe895f6ca7719dbb780f929368eb
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - deps-js-v7-{{ checksum ".task-meta-cachekey-js" }}
            - deps-js-v7-
      - run:
          command: |-
            npm install -g --force yarn pnpm
            ./task lint-js
workflows:
  version: 2
  main:
    jobs:
      - checkout:
          requires: []
          filters:
            tags:
              only: /.*/
      - fetch-task:
          requires: []
          filters:
            tags:
              only: /.*/
      - cachekey:
          requires:
            - checkout
            - fetch-task
          filters:
            tags:
              only: /.*/
      - deps-js:
          requires:
            - cachekey
            - checkout
            - fetch-task
          filters:
            tags:
              only: /.*/
      - lint-js:
          requires:
            - checkout
            - deps-js
            - fetch-task
          filters:
            tags:
              only: /.*/
      - ci-all:
          requires:
            - deps-js
            - lint-js
          filters:
            tags:
              only: /.*/
